{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 my-3 text-center">
            <h2>Boardom Begone</h2>
            <p class="my-3">
                Welcome to our shop we have a selection of games to suit everybody from the casual player to the
                hardcore gamer. We offer free delivery on all products and a 30 day money back guarantee.
                If you are looking for a game to play with friends or family we have you covered.
                If you can't find what you are looking for please get in touch and we will do our best to help.
            </p>
        </div>
    </div>
</div>

{% endblock %}