body {
    min-height: 100vh;
    background-image: url('../images/parchment.jpg');
}

main {
    min-height: 82%;
}

footer {
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

p {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 150%;
}