{% extends "base.html" %}

{% load static %}

{% block content %}


<h1 class="text-center">{{ product.name }}</h1>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6 border border-dark rounded-lg p-3">
            <img class="resize" src="{{ product.image.url }}" alt="{{ product.name }}">
            <p>Price: €{{ product.price }}</p>
            <!-- star rating taken from https://codepen.io/4m6/pen/wvqEzEr-->
            <p>Rating: {{ product.rating }} <i data-star="{{ product.rating }}"></i></p>
            <p>{{ product.description }}</p>
            {% if product.in_stock %}
            <a href="#" class="btn btn-primary">Add to Basket</a>
            {% else %}
            <p class="text-danger">Sorry, this item is currently out of stock.</p>
            {% endif %}
            <a href="{% url 'save_for_later' product_id=product.id %}" class="btn btn-secondary">Save for Later</a>
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'product_update' product_id=product.id %}">Update</a>
            <a href="{% url 'product_delete' product_id=product.id %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}